@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #6d7e9e;
    background: #0c142c;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    width: 100%;
}