@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #a0a0a0;
    background: #100F11;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    width: 100%;
}

@font-face {
    font-family: 'TeenageLadyDemoBold';
    src: local('TeenageLadyDemoBold'),
         url('./assets/fonts/TeenageLadyDemoBold.ttf') format('ttf'),
         url('./assets/fonts/TeenageLadyDemoBold.ttf2') format('ttf2'),
}