@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: gray;
    background: linear-gradient(rgb(15, 13, 13), rgb(39, 38, 38));
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}